/* Create colour palette for website. Consists of a monochrome blue to create a calming effect on users; the monochrome was chosen to ensure a non-distracting design to not take eyes away from studying. */
:root {
  background-color: rgb(156, 174, 210);
  --main-blue: rgb(156, 174, 210);
  --secondary-blue: rgb(22, 25, 66);
  --tertiary-blue: rgb(226, 237, 243);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: var(--secondary-blue);
  text-align: center;
  width: 100%;
}

/* Mallanna font is round and sans-serif, fitting the simple and calm design. Roundness is similar to the soft waves. */
h1,
h2 {
  font-family: "Mallanna", sans-serif;
}

h1 {
  color: var(--main-blue);
}

h2 {
  color: var(--secondary-blue);
}

#title {
  font-size: 3rem;
  margin: 1px;
}

.container {
  width: 500px;
}

.media-player {
  background-color: rgb(226, 237, 243);
  width: 100%;
  height: 100px;
  border-radius: 15px;
  margin-top: 50px;
  display: flex;
}

.media-player-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

#audiotitle {
  margin: 1px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.play-pause-btn {
  align-self: center;
  position: absolute;
  margin-left: 10px;
}

/* Followed a tutorial to create slow rolling waves. Link -> https://youtu.be/MMNEEdGa5eE?si=VN0J29Z3RZQ-_xp4 */

section {
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(media/wave.png);
  background-size: 1000px 100px;
  opacity: 30%;
}
/* separate wave images have different timings to create layered effect */
section .wave.wave1 {
  animation: animate 30s linear infinite;
}
section .wave.wave2 {
  animation: animate 15s linear infinite;
  animation-delay: 5s;
}
section .wave.wave3 {
  animation: animate 25s linear infinite;
  animation-delay: 5s;
}
/* keyframe attributed to wave images to move from left to right*/
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
