body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background: repeating-linear-gradient(
    90deg,
    #fff4f9,
    #fff4f9 30px,
    #ffffff 30px,
    #ffffff 49px
  );
  display: grid;
  grid-template-columns: 4fr 3fr 4fr;
}

h2,
button {
  font-family: "Noto Serif", serif;
}

h2 {
  margin: 20px 0 10px 0;
  font-size: 5rem;
  font-weight: 400;
  text-decoration: underline 3px;
}

aside {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#bodicemenu {
  background-image: url(webassets/bodicemenu@3x.png);
  background-size: cover;
  background-position: right;
  grid-column: 1 / span 1;
}

#skirtmenu {
  background-image: url(webassets/skirtsmenu@3x.png);
  background-size: cover;
  background-position: left;
  grid-column: 3 / span 1;
}

#bodicebox,
#skirtbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  column-gap: 50px;
}

#bodicebox img,
#skirtbox img {
  width: 110%;
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 2;
}

#skirtbox {
  row-gap: 40px;
}

section {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#finbtn {
  font-size: 1.5rem;
  text-decoration: underline;
  padding: 0px 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  outline: 3px solid black;
  position: absolute;
  left: 810px;
  bottom: 20px;
}

button:hover {
  transform: scale(0.9);
}

#bodice_droparea {
  /* background-color: blue; */
  position: relative;
  height: 180px;
  width: 162px;
  bottom: 632px;
  left: 10.5px;
  z-index: 2;
}

#bodice_droparea img,
#skirt_droparea img {
  width: 100%;
  height: 100%;
}

#skirt_droparea {
  /* background-color: purple; */
  position: relative;
  height: 170px;
  width: 203px;
  bottom: 702px;
  left: -9.8px;
  z-index: 1;
}

/* animations for ending the game */

/* moving the menus to the side */
.moveAside {
  animation: moveAside 1s ease-out forwards;
}

@keyframes moveAside {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(530px);
  }
}

.clearOpacity {
  animation: turnClear 1s ease-out forwards;
}

@keyframes turnClear {
  from {
    opacity: auto;
  }
  to {
    opacity: 0%;
  }
}

#extendedmenu {
  position: absolute;
  left: 0;
  background-color: #fff4f9;
  height: 100vh;
  width: 50vw;
}

.menuExtension {
  animation: menuExtend 1s ease-out forwards;
}

@keyframes menuExtend {
  from {
    transform: translateX(-700);
  }
  to {
    transform: translateX(580px);
  }
}
