body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  background: repeating-linear-gradient(
    90deg,
    #fff4f9,
    #fff4f9 30px,
    #ffffff 30px,
    #ffffff 49px
  );
  display: grid;
  grid-template-columns: 5fr 3fr 5fr;
}

h2,
button {
  font-family: "Noto Serif", serif;
}

h2 {
  margin: 20px 0 10px 0;
  font-size: 5rem;
  font-weight: 400;
  text-decoration: underline 3px;
}

#bodicemenu {
  background-image: url(webassets/bodicemenu@3x.png);
  background-size: cover;
  background-position: right;
  overflow: hidden;
  /*  */
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#bodicebox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  column-gap: 50px;
}

#bodicebox img {
  width: 100%;
  height: auto;
}

#skirtmenu {
  background-image: url(webassets/skirtsmenu@3x.png);
  background-size: cover;
  background-position: left;
  overflow: hidden;
  grid-column: 3 / span 1;
  display: flex;
  justify-content: center;
  right: 10px;
}

#skirtbox {
}

section {
  grid-column: 2 / span 1;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#finbtn {
  font-size: 1.3rem;
  text-decoration: underline;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  outline: 3px solid black;
}
