/* Creates a smooth scroll effect when clicking on menu hyperlinks that takes you to the different questions. */
html {
  scroll-behavior: smooth;
}
/* Change the appearance of hyperlink that goes to MyoungAe's portfolio in order to fit in with the overall aesthetic of the website; removes the look of a blue underlined hyperlink. */
#designer {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 530;
  color: black;
  text-decoration: none;
}
/* Grid placement and padding of designer portfolio box. */
#designercard {
  grid-row: 1/2;
  grid-column: 4/5;
  border-bottom: black solid 1px;
  border-right: black solid 1px;
  padding: 15px;
  padding-top: 25px;
}

/* Grid placement of title box which takes up a wider space. */
#title {
  border: solid 1px;
  grid-row: 1/2;
  grid-column: 1/4;
  padding: 10px;
  padding-bottom: 24px;
  border-left: none;
  border-top: none;
}

/* Control the font of assignment title. */
#assignmenttitle {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6rem;
}
/* Control the font of title subheading. */
#websitereview {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 450;
}
/* Z index puts the sidebar division forward in comparision to the scrollable area. Adjust the width to take up 30% of the area, while going down the whole page in terms of height. Position fixed to top left so that it isn't scrolled away from. Create amount of rows and columns in the grid display.*/
#sidebar {
  z-index: 1;
  width: 30vw;
  height: 105vw;
  display: grid;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
/* Font, padding, and black border to menu items. Borders only on right and bottom to not create double borders that would create thicker lines in some areas. */
.menu_q {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 530;
  padding: 15px;
  border-right: 1px solid;
  border-bottom: solid 1px;
}
/* Removed blue colour, and underlines from hyperlinks. */
a {
  color: black;
  text-decoration: none;
}
/* q5,10,11,12, have differing grid ratios, taking more space than just one row and grid. */
#q5 {
  grid-area: 3/1/3/3;
}

#q10 {
  grid-area: 4/3/5/5;
}

#q11 {
  grid-area: 5/1/6/4;
}

#q12 {
  grid-area: 6/1/7/3;
}

#q13 {
  grid-area: 6/3/7/5;
}
/* Scroll is where question boxes are placed; flex in order to stack the boxes ontop of eachother through column flex direction. Positioned to the right. */
#scroll {
  width: 70vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}
/* Separates questions and answers into question boxes with even padding and single bottom border to not create double borders. */
.qbox {
  padding-top: 15px;
  border-bottom: solid 1px;
  padding-left: 55px;
}
/* Larger bolded font for questions themselves. */
.question {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  width: 800px;
  padding-left: 4rem;
  padding-top: 0.65rem;
  align-self: center;
}
/* Create dot from background colour being rounded at the sides. Position relative to not effect the layout of the question divisions.*/
.dot {
  position: relative;
  left: 2rem;
  top: 2.3rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 1.3rem;
  background: #000;
}
/* Controls the font and padding for answers. */
.answer {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 460;
  width: 800px;
  padding-left: 4rem;
  padding-bottom: 40px;
  padding-top: 20px;
  align-self: center;
}
