body {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 1.6rem;
}

p {
  border: 1px solid crimson;
  width: 400px;
  min-width: 200px;
  margin: 0 auto;
  /* horizontal centering */
}

span {
  color: blueviolet;
}
